## preprocessing data(normalization and standardization)
- In terms of scaling values, enural networks tend to prefer normalization 
- if youre not sure on which to use , you could try both and see which preforms better

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import tensorflow as tf 
import sklearn 

# importing the data 
insurance = pd.read_csv("https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv")
insurance.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
# first we need to use sklearn to transform out data 
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
# now lets create a column transformaer to transform the column 
ct = make_column_transformer(
    (MinMaxScaler(), ["age", "bmi", "children"]), 
    (OneHotEncoder(handle_unknown = "ignore"), ["sex", "smoker", "region"]) # here it is going to one hit encode the values 
    ) # takes in StandardScalar or MinMaxScalar and OneHotEncoder 
# we want to tunr all the values in these columns into vlause betwen 0 and on ebecasue they are numerical vlaes, they are not objects of
X = insurance.drop("charges" , axis = 1)
y = insurance ["charges"]
# now we want to the model to learn the data and need to split data 
X_train,X_test, y_train, y_test =train_test_split(X,y, test_size = 0.2, random_state = 42)
# fitting the column transformer to our training data 
ct.fit(X_train) 
# transform training and test data with automatic with normalization from the training data 
X_train_normal = ct.transform(X_train)
X_test_normal = ct.transform(X_test)