# Now lets learn using a larger model

- in general we are going to be dealing with larger datasets 
- lets use the public medical cost data set     
- import the medical cost data set from kaggle

In [2]:
import tensorflow as tf 
import numpy as np
import keras   
import pandas as pd 
import matplotlib.pyplot as plt

In [5]:
insurance = pd.read_csv("https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv")
insurance

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

-Now lets define the independent and independent variables:
- independent variable = (age, sex, bmi, children smoker region)
- dependent variable = charges 
- teh first step we need to do is get the data ready 
- do we need to pass in different data types for different layers or differnet neurons 
- notice we whave numerical and non numerical data types ( object) in the data 
- we need to convert these data types into float32

In [6]:
# lets check the data type of the different columns 
insurance["smoker"] , insurance["age"]

(0       yes
 1        no
 2        no
 3        no
 4        no
        ...
 1333     no
 1334     no
 1335     no
 1336     no
 1337    yes
 Name: smoker, Length: 1338, dtype: object,
 0       19
 1       18
 2       28
 3       33
 4       32
         ..
 1333    50
 1334    18
 1335    18
 1336    21
 1337    61
 Name: age, Length: 1338, dtype: int64)

In [8]:
# we need to encode the non numerical varibales into a numerical form. 
# lets use one-hot encoding to encode this    
# this has to be done for all the 
# sex_df = pd.DataFrame(insurance["sex"])
# pd.get_dummies(df['sex'], prefix= ['male', 'female'])
insurance_one_hot = pd.get_dummies(insurance)
insurance_one_hot.head()

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,1,0,0,1,0,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0,0,0,1,0
2,28,33.000,3,4449.46200,0,1,1,0,0,0,1,0
3,33,22.705,0,21984.47061,0,1,1,0,0,1,0,0
4,32,28.880,0,3866.85520,0,1,1,0,0,1,0,0