In [1]:
import tensorflow as tf 
import numpy as np
import keras   
import pandas as pd 
import matplotlib.pyplot as plt 
import sklearn

In [2]:
insurance = pd.read_csv("https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv")
insurance

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [3]:
insurance_one_hot = pd.get_dummies(insurance)
insurance_one_hot.head()

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,1,0,0,1,0,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0,0,0,1,0
2,28,33.000,3,4449.46200,0,1,1,0,0,0,1,0
3,33,22.705,0,21984.47061,0,1,1,0,0,1,0,0
4,32,28.880,0,3866.85520,0,1,1,0,0,1,0,0

In [7]:
X = insurance_one_hot.drop("charges", axis = 1)
y = insurance_one_hot["charges"]
X.head(), y.head()

(   age     bmi  children  sex_female  sex_male  smoker_no  smoker_yes  \
 0   19  27.900         0           1         0          0           1
 1   18  33.770         1           0         1          1           0
 2   28  33.000         3           0         1          1           0
 3   33  22.705         0           0         1          1           0
 4   32  28.880         0           0         1          1           0

    region_northeast  region_northwest  region_southeast  region_southwest
 0                 0                 0                 0                 1
 1                 0                 0                 1                 0
 2                 0                 0                 1                 0
 3                 0                 1                 0                 0
 4                 0                 1                 0                 0  ,
 0    16884.92400
 1     1725.55230
 2     4449.46200
 3    21984.47061
 4     3866.85520
 Name: charges, dtype: float64)

In [10]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.20, random_state = 42)
len(X), len(X_train), len(X_test)

(1338, 1070, 268)

In [11]:
X_train

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
560,46,19.950,2,1,0,1,0,0,1,0,0
1285,47,24.320,0,1,0,1,0,1,0,0,0
1142,52,24.860,0,1,0,1,0,0,0,1,0
969,39,34.320,5,1,0,1,0,0,0,1,0
486,54,21.470,3,1,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1095,18,31.350,4,1,0,1,0,1,0,0,0
1130,39,23.870,5,1,0,1,0,0,0,1,0
1294,58,25.175,0,0,1,1,0,1,0,0,0
860,37,47.600,2,1,0,0,1,0,0,0,1
1126,55,29.900,0,0,1,1,0,0,0,0,1

In [12]:
# lets see if we can increase our current model by increaseing teh epochs to 100 
tf.random.set_seed(42)
# lets create a model using teh sequenctial API
insurance_model= tf.keras.Sequential([ #groups a linear stack of layers into a tf.keras.Model.
    tf.keras.layers.Dense(10),
    tf.keras.layers.Dense(1)
    ]) # this is basically saying that we want to generate a model from keras 
# now we want to compule the model 
insurance_model.compile(loss=tf.keras.losses.mae, # mae measn mean abouslue error, which is a measure of error between paired observations expressing the same phenomenon, compairson between preducted vs observed  )- 
               optimizer=tf.keras.optimizers.SGD(),
               metrics=["mae"])
# now we want to fit the model 
with tf.device('/cpu:0'): insurance_model.fit(tf.expand_dims(X_train, axis=-1), y_train, epochs=100) # we need to use the with cup or the kernal will crash
# epochs refers to the number of runs

Metal device set to: Apple M1 Pro

systemMemory: 16.00 GB
maxCacheSize: 5.33 GB

Epoch 1/100

2022-07-03 02:10:44.179034: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2022-07-03 02:10:44.179310: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)
2022-07-03 02:10:44.338204: W tensorflow/core/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz

 1/34 [..............................] - ETA: 14s - loss: 13156.4121 - mae: 13156.4121

2022-07-03 02:10:44.574998: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.

34/34 [==============================] - 0s 2ms/step - loss: 13235.9600 - mae: 13235.9600
Epoch 2/100
34/34 [==============================] - 0s 2ms/step - loss: 12311.1191 - mae: 12311.1191
Epoch 3/100
34/34 [==============================] - 0s 2ms/step - loss: 12173.6699 - mae: 12173.6699
Epoch 4/100
34/34 [==============================] - 0s 2ms/step - loss: 12099.2920 - mae: 12099.2920
Epoch 5/100
34/34 [==============================] - 0s 2ms/step - loss: 11985.4248 - mae: 11985.4248
Epoch 6/100
34/34 [==============================] - 0s 2ms/step - loss: 11799.9385 - mae: 11799.9385
Epoch 7/100
34/34 [==============================] - 0s 2ms/step - loss: 11476.8359 - mae: 11476.8359
Epoch 8/100
34/34 [==============================] - 0s 2ms/step - loss: 10967.0264 - mae: 10967.0264
Epoch 9/100
34/34 [==============================] - 0s 2ms/step - loss: 10350.2998 - mae: 10350.2998
Epoch 10/100
34/34 [==============================] - 0s 2ms/step - loss: 9702.6709 - mae: 9702.6709
Epoch 11/100
34/34 [==============================] - 0s 2ms/step - loss: 9191.6152 - mae: 9191.6152
Epoch 12/100
34/34 [==============================] - 0s 2ms/step - loss: 8812.3760 - mae: 8812.3760
Epoch 13/100
34/34 [==============================] - 0s 2ms/step - loss: 8661.6318 - mae: 8661.6318
Epoch 14/100
34/34 [==============================] - 0s 2ms/step - loss: 8530.6475 - mae: 8530.6475
Epoch 15/100
34/34 [==============================] - 0s 2ms/step - loss: 8504.2061 - mae: 8504.2061
Epoch 16/100
34/34 [==============================] - 0s 2ms/step - loss: 8450.2246 - mae: 8450.2246
Epoch 17/100
34/34 [==============================] - 0s 2ms/step - loss: 8557.1924 - mae: 8557.1924
Epoch 18/100
34/34 [==============================] - 0s 2ms/step - loss: 8530.2998 - mae: 8530.2998
Epoch 19/100
34/34 [==============================] - 0s 2ms/step - loss: 8447.9883 - mae: 8447.9883
Epoch 20/100
34/34 [==============================] - 0s 2ms/step - loss: 8596.8496 - mae: 8596.8496
Epoch 21/100
34/34 [==============================] - 0s 2ms/step - loss: 8506.3730 - mae: 8506.3730
Epoch 22/100
34/34 [==============================] - 0s 2ms/step - loss: 8618.8496 - mae: 8618.8496
Epoch 23/100
34/34 [==============================] - 0s 2ms/step - loss: 8540.3096 - mae: 8540.3096
Epoch 24/100
34/34 [==============================] - 0s 2ms/step - loss: 8485.0312 - mae: 8485.0312
Epoch 25/100
34/34 [==============================] - 0s 2ms/step - loss: 8505.4121 - mae: 8505.4121
Epoch 26/100
34/34 [==============================] - 0s 2ms/step - loss: 8423.0176 - mae: 8423.0176
Epoch 27/100
34/34 [==============================] - 0s 2ms/step - loss: 8534.9570 - mae: 8534.9570
Epoch 28/100
34/34 [==============================] - 0s 2ms/step - loss: 8429.8008 - mae: 8429.8008
Epoch 29/100
34/34 [==============================] - 0s 2ms/step - loss: 8430.2549 - mae: 8430.2549
Epoch 30/100
34/34 [==============================] - 0s 2ms/step - loss: 8500.0615 - mae: 8500.0615
Epoch 31/100
34/34 [==============================] - 0s 2ms/step - loss: 8462.8271 - mae: 8462.8271
Epoch 32/100
34/34 [==============================] - 0s 2ms/step - loss: 8467.4355 - mae: 8467.4355
Epoch 33/100
34/34 [==============================] - 0s 2ms/step - loss: 8393.6240 - mae: 8393.6240
Epoch 34/100
34/34 [==============================] - 0s 2ms/step - loss: 8417.7529 - mae: 8417.7529
Epoch 35/100
34/34 [==============================] - 0s 2ms/step - loss: 8426.5898 - mae: 8426.5898
Epoch 36/100
34/34 [==============================] - 0s 2ms/step - loss: 8405.4658 - mae: 8405.4658
Epoch 37/100
34/34 [==============================] - 0s 2ms/step - loss: 8431.5420 - mae: 8431.5420
Epoch 38/100
34/34 [==============================] - 0s 2ms/step - loss: 8395.5322 - mae: 8395.5322
Epoch 39/100
34/34 [==============================] - 0s 2ms/step - loss: 8424.3662 - mae: 8424.3662
Epoch 40/100
34/34 [==============================] - 0s 2ms/step - loss: 8343.8877 - mae: 8343.8877
Epoch 41/100
34/34 [==============================] - 0s 2ms/step - loss: 8414.1885 - mae: 8414.1885
Epoch 42/100
34/34 [==============================] - 0s 2ms/step - loss: 8410.1094 - mae: 8410.1094
Epoch 43/100
34/34 [==============================] - 0s 2ms/step - loss: 8460.3408 - mae: 8460.3408
Epoch 44/100
34/34 [==============================] - 0s 2ms/step - loss: 8383.7100 - mae: 8383.7100
Epoch 45/100
34/34 [==============================] - 0s 2ms/step - loss: 8430.5215 - mae: 8430.5215
Epoch 46/100
34/34 [==============================] - 0s 2ms/step - loss: 8400.4453 - mae: 8400.4453
Epoch 47/100
34/34 [==============================] - 0s 2ms/step - loss: 8396.6367 - mae: 8396.6367
Epoch 48/100
34/34 [==============================] - 0s 2ms/step - loss: 8368.3125 - mae: 8368.3125
Epoch 49/100
34/34 [==============================] - 0s 2ms/step - loss: 8414.6299 - mae: 8414.6299
Epoch 50/100
34/34 [==============================] - 0s 2ms/step - loss: 8384.1816 - mae: 8384.1816
Epoch 51/100
34/34 [==============================] - 0s 2ms/step - loss: 8392.4209 - mae: 8392.4209
Epoch 52/100
34/34 [==============================] - 0s 2ms/step - loss: 8364.3027 - mae: 8364.3027
Epoch 53/100
34/34 [==============================] - 0s 2ms/step - loss: 8440.5508 - mae: 8440.5508
Epoch 54/100
34/34 [==============================] - 0s 2ms/step - loss: 8413.2959 - mae: 8413.2959
Epoch 55/100
34/34 [==============================] - 0s 2ms/step - loss: 8364.0986 - mae: 8364.0986
Epoch 56/100
34/34 [==============================] - 0s 2ms/step - loss: 8374.9893 - mae: 8374.9893
Epoch 57/100
34/34 [==============================] - 0s 2ms/step - loss: 8374.6123 - mae: 8374.6123
Epoch 58/100
34/34 [==============================] - 0s 2ms/step - loss: 8323.6025 - mae: 8323.6025
Epoch 59/100
34/34 [==============================] - 0s 2ms/step - loss: 8422.1709 - mae: 8422.1709
Epoch 60/100
34/34 [==============================] - 0s 2ms/step - loss: 8434.9277 - mae: 8434.9277
Epoch 61/100
34/34 [==============================] - 0s 2ms/step - loss: 8410.3691 - mae: 8410.3691
Epoch 62/100
34/34 [==============================] - 0s 2ms/step - loss: 8348.9414 - mae: 8348.9414
Epoch 63/100
34/34 [==============================] - 0s 2ms/step - loss: 8382.4404 - mae: 8382.4404
Epoch 64/100
34/34 [==============================] - 0s 2ms/step - loss: 8390.2178 - mae: 8390.2178
Epoch 65/100
34/34 [==============================] - 0s 2ms/step - loss: 8400.1279 - mae: 8400.1279
Epoch 66/100
34/34 [==============================] - 0s 2ms/step - loss: 8357.6074 - mae: 8357.6074
Epoch 67/100
34/34 [==============================] - 0s 2ms/step - loss: 8326.0518 - mae: 8326.0518
Epoch 68/100
34/34 [==============================] - 0s 2ms/step - loss: 8347.0010 - mae: 8347.0010
Epoch 69/100
34/34 [==============================] - 0s 2ms/step - loss: 8357.6436 - mae: 8357.6436
Epoch 70/100
34/34 [==============================] - 0s 3ms/step - loss: 8408.4463 - mae: 8408.4463
Epoch 71/100
34/34 [==============================] - 0s 2ms/step - loss: 8357.8848 - mae: 8357.8848
Epoch 72/100
34/34 [==============================] - 0s 2ms/step - loss: 8361.9219 - mae: 8361.9219
Epoch 73/100
34/34 [==============================] - 0s 2ms/step - loss: 8355.2236 - mae: 8355.2236
Epoch 74/100
34/34 [==============================] - 0s 2ms/step - loss: 8372.8877 - mae: 8372.8877
Epoch 75/100
34/34 [==============================] - 0s 2ms/step - loss: 8340.4365 - mae: 8340.4365
Epoch 76/100
34/34 [==============================] - 0s 2ms/step - loss: 8336.8984 - mae: 8336.8984
Epoch 77/100
34/34 [==============================] - 0s 2ms/step - loss: 8368.9092 - mae: 8368.9092
Epoch 78/100
34/34 [==============================] - 0s 2ms/step - loss: 8361.4707 - mae: 8361.4707
Epoch 79/100
34/34 [==============================] - 0s 2ms/step - loss: 8397.4590 - mae: 8397.4590
Epoch 80/100
34/34 [==============================] - 0s 2ms/step - loss: 8323.4268 - mae: 8323.4268
Epoch 81/100
34/34 [==============================] - 0s 2ms/step - loss: 8364.4326 - mae: 8364.4326
Epoch 82/100
34/34 [==============================] - 0s 2ms/step - loss: 8343.5264 - mae: 8343.5264
Epoch 83/100
34/34 [==============================] - 0s 3ms/step - loss: 8412.4004 - mae: 8412.4004
Epoch 84/100
34/34 [==============================] - 0s 2ms/step - loss: 8347.5420 - mae: 8347.5420
Epoch 85/100
34/34 [==============================] - 0s 2ms/step - loss: 8377.8467 - mae: 8377.8467
Epoch 86/100
34/34 [==============================] - 0s 3ms/step - loss: 8364.2188 - mae: 8364.2188
Epoch 87/100
34/34 [==============================] - 0s 4ms/step - loss: 8360.6875 - mae: 8360.6875
Epoch 88/100
34/34 [==============================] - 0s 2ms/step - loss: 8348.8135 - mae: 8348.8135
Epoch 89/100
34/34 [==============================] - 0s 2ms/step - loss: 8391.8721 - mae: 8391.8721
Epoch 90/100
34/34 [==============================] - 0s 2ms/step - loss: 8318.3711 - mae: 8318.3711
Epoch 91/100
34/34 [==============================] - 0s 2ms/step - loss: 8362.2402 - mae: 8362.2402
Epoch 92/100
34/34 [==============================] - 0s 2ms/step - loss: 8383.1777 - mae: 8383.1777
Epoch 93/100
34/34 [==============================] - 0s 2ms/step - loss: 8328.8281 - mae: 8328.8281
Epoch 94/100
34/34 [==============================] - 0s 2ms/step - loss: 8318.3115 - mae: 8318.3115
Epoch 95/100
34/34 [==============================] - 0s 2ms/step - loss: 8340.4863 - mae: 8340.4863
Epoch 96/100
34/34 [==============================] - 0s 2ms/step - loss: 8352.1162 - mae: 8352.1162
Epoch 97/100
34/34 [==============================] - 0s 2ms/step - loss: 8355.6279 - mae: 8355.6279
Epoch 98/100
34/34 [==============================] - 0s 2ms/step - loss: 8348.6328 - mae: 8348.6328
Epoch 99/100
34/34 [==============================] - 0s 2ms/step - loss: 8322.7256 - mae: 8322.7256
Epoch 100/100
34/34 [==============================] - 0s 2ms/step - loss: 8338.7246 - mae: 8338.7246